# Food Delivery Dataset Integration and Analysis

This notebook shows how multiple datasets related to a food delivery platform
are combined and analyzed to extract meaningful insights.

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
orders_df = pd.read_csv("orders.csv")
orders_df.head()

In [ ]:
users_df = pd.read_json("users.json")
users_df.head()

In [ ]:
database_connection = sqlite3.connect("restaurants.db")

restaurants_df = pd.read_sql_query(
    "SELECT * FROM restaurants",
    database_connection
)

restaurants_df.head()

In [ ]:
orders_users_df = pd.merge(
    orders_df,
    users_df,
    how="left",
    on="user_id"
)

orders_users_df.head()

In [ ]:
complete_data = pd.merge(
    orders_users_df,
    restaurants_df,
    how="left",
    on="restaurant_id"
)

complete_data.head()

In [ ]:
gold_member_revenue = (
    complete_data[complete_data["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

gold_member_revenue

The datasets were successfully merged using appropriate keys and left joins.
The final combined dataset serves as the foundation for analyzing user behavior,
membership impact, and revenue trends across cities and cuisines.